<ion-header>

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="content">
    
  <ion-item>
    <ion-img style="margin-left: 32%;" src="./assets/imagenes/login.png"></ion-img>

    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="usuario"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label type="password" position="floating">Contraseña</ion-label>
    <ion-textarea [(ngModel)]="contrasenia"></ion-textarea>
  </ion-item>
  <ion-button expand="block" padding color="tertiary" typ="Submit" fill="outline" (click)="logearse();" >Iniciar Sesion</ion-button>
</div>
</ion-content>
