<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="return();">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item ng-repeat="item in items" (click)="click();" >               
        <div>No_Placa:</div>                       
    </ion-item>
</ion-list>
</ion-content>
