.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 40px;
	font-size: 2.4rem;
	margin-left: 2px;
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(255, 197, 8);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}
.num{
    font-size: 15px;
    margin-left: 10px;
}
ion-list{
    background-color:#fff ;
  }
  
  ion-content {
      #map {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 150ms ease-in;
        display: block;
        &.show-map{
          opacity: 1;
        }
      }
    }
    #indicators {
      padding: 16px;
      height: 40%;
      width: 100%;
      overflow-y: auto;
      display: block;
    }
    ion-searchbar{
      --icon-color: var (--ion-color-primary);
      --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      ::ng-deep{
          .searchbar-input-container{            
              .searchbar-input{ 
                  border-radius: 20px;
                  //any style that you want to implement on your searchbar
              }
          }
      }   
      
  }
  
  .titulo{
    margin-top: 10px;
    font-size: 20px;
    height: 40px;
  }
  .input{

  }
 