ion-item:hover {

    background-color: red;
    border-color: red;
    }
    ion-list{
        background-color:#fff ;
      }
      
      ion-content {
          #map {
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 150ms ease-in;
            display: block;
            &.show-map{
              opacity: 1;
            }
          }
        }
        #indicators {
          padding: 16px;
          height: 40%;
          width: 100%;
          overflow-y: auto;
          display: block;
        }
        ion-searchbar{
          --icon-color: var (--ion-color-primary);
          --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          ::ng-deep{
              .searchbar-input-container{            
                  .searchbar-input{ 
                      border-radius: 20px;
                      //any style that you want to implement on your searchbar
                  }
              }
          }   
          
      }
      
      .titulo{
        margin-top: 10px;
        font-size: 20px;
        height: 40px;
      }
      .input{
       height: 3px;
     
       margin-left: 40%;
       color: rgb(0, 0, 0);
      }
      .hora{
     height: 10px;
     margin-left: 60%;

      }
      .placa{
        margin-left: 5%;
      }