<ion-header>

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
  <ion-fab class="menu" edge slot="fixed">

    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="end">
      <ion-fab-button ><ion-icon  (click)="location();" name="location-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button><ion-icon name="car-sport-outline" (click)="taxiFavorito();"></ion-icon>
      </ion-fab-button>

      <ion-fab-button>
        <ion-icon  (click)="calificacion();"  name="star-half-outline"> </ion-icon>
      </ion-fab-button>

      <ion-fab-button><ion-icon (click)="viajes_realizadas(); "name="accessibility-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class='sesion'>
    <ion-button color="light" (click)="cerrarSesion();">Cerrar Sesion</ion-button>
  </div>
</ion-content>
