<ion-app >
<ion-content >

  <label class="texto1">
    ver menu
    <br>
  <img src="./assets/imagenes/flecha.gif" alt="flecha-imagen-animada-0103" />

    </label> 
    
  <div class="imagen">
    <ion-img src="./assets/imagenes/icon.jpg"></ion-img>
  </div>
  <label class="texto2">
    Hola! Bienvenido a mi taxi
  </label>
</ion-content>

  <ion-split-pane contentId="main-content" >
    <ion-menu contentId="main-content" type="overlay">
      <ion-content >
                <ion-list id="inbox-list">
          <ion-list-header>Menu Principal</ion-list-header>
          <ion-note>MI TAXI</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
         <!--  <ion-list-header>Labels</ion-list-header>

         <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item> -->
          <label>
          San Juan Ostuncalco<ion-img class="imagen" src="../assets/imagenes/taxi.png"></ion-img>
        </label>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>

</ion-app >
