<ion-content >

  <label class="texto1">
    ver menu
    <br>
  <img src="./assets/imagenes/flecha.gif" alt="flecha-imagen-animada-0103" />

    </label> 
    
  <div class="imagen">
    <ion-img src="./assets/imagenes/icon.jpg"></ion-img>
  </div>
  <label class="texto2">
    Hola! Bienvenido a mi taxi
  </label>
</ion-content>