<ion-header>
  <ion-toolbar>
   
    <ion-searchbar class="searchbar" [(ngModel)]="search" (ionChange)="searchChanged();" placeholder="Para donde?">
      <ion-buttons slot="start" (click)="return();">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons >
    </ion-searchbar>

    <ion-list class="ion-margin-horizontal" [hidden]="!search.length">
      <ion-item  (click)="calcRoute(result);" *ngFor="let result of searchResult" >
        {{result.description}}
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content >  
  <ion-item>
    <ion-button slot="start" [disabled]="status" (click)="CrearViaje();">Crear recorrido</ion-button> 
    <ion-button slot="start"  (click)="share();">Compartir Ruta</ion-button> 
  </ion-item>
  <ion-item>
    <ion-button slot="start" (click)="iniciarViaje();" (click)="ionViewDidLeave();">Iniciar recorrido</ion-button> 
    <ion-button slot="start"  (click)="finviaje();">Finalizar recorrido</ion-button>  </ion-item>
     
    <ion-item>
      <ion-label position="floating">Coordenadas de la Ubicación </ion-label>
      <ion-input type="text" [(ngModel)]="ubicacion.cordenadax" name="cordenadax">
     <ion-input type="text" [(ngModel)]="ubicacion.cordenaday" name="cordenaday"></ion-input>
      </ion-input>

    </ion-item>
<div id='map'>
</div>
<div id="indicators" ></div>

</ion-content>

