ion-list{
  background-color:#fff ;
}

ion-content {
    #map {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
  }
  #indicators {
    padding: 16px;
    height: 40%;
    width: 100%;
    overflow-y: auto;
    display: block;
  }
  ion-searchbar{
    --icon-color: var (--ion-color-primary);
    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    ::ng-deep{
        .searchbar-input-container{            
            .searchbar-input{ 
                border-radius: 20px;
                //any style that you want to implement on your searchbar
            }
        }
    }   
}
