<ion-header>

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-toolbar>
      <ion-segment value="all">
        <ion-segment-button (click)="user()" value="all">
          Usuario
        </ion-segment-button>
        <ion-segment-button (click)="taxista()" value="favorites">
         Taxista
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content> 
  <form (ngSubmit)="register();" id="register">

    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input  class="inp"  [(ngModel)]="codigo.login" name="login">
        <ion-input class="inp"  [(ngModel)]="codigo.datos_personales" name="datos_personales"></ion-input>
      </ion-input>
     </ion-item>
    <ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input type="text" [(ngModel)]="usuario.nombre" name="nombre"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Apellido</ion-label>
  <ion-textarea type="text" [(ngModel)]="usuario.apellido" name="apellido"></ion-textarea>
</ion-item> 

<ion-item>
  <ion-label position="floating">Edad</ion-label>
  <ion-input type="number" [(ngModel)]="usuario.edad" name="edad"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Telefono</ion-label>
  <ion-input  type="number" [(ngModel)]="usuario.telefono" name="telefono"></ion-input>
</ion-item>

<ion-button type="submit" expand="block" padding color="tertiary" fill="outline" >Registrarse</ion-button>


</form>

</ion-content>
